<!DOCTYPE html>
<html>
  <head>
    <title>Likelion</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>게시판 테스트</h1>
    <p>제목 : <%= @title %></p>
    <p>내용 : <%= @body %></p>
    <a href="/">홈으로</a>
  </body>
</html>