<!DOCTYPE html>
<html>
  <head>
    <title>Likelion</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>로그인 페이지</h1>
    <form action="/create_session">
      제목 : <input type="text" name="email">
      내용 : <input type="text" name="password">
      <button type="submit">로그인</button>
    </form>
  </body>
</html>